{% extends "base.html "%}
{% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST">
    <!-- quando premo il btn alla fine invia i dati nelle caselle a una richiesta post in /sign-up  -->
    <h3 align="center" style="margin-top:3%">
        Sign Up
    </h3>
    <div class="form-group">

        <!--<label for="nome">Nome</label>-->
        <input type="text"
               id="nome"
               name="nome"
               class="form-control"
               placeholder="Nome"
        />
        <br/>
        <!--<label for="cognome">Cognome</label>-->
        <input type="text"
               id="cognome"
               name="username"
               class="form-control"
               placeholder="Cognome"
        />
        <br/>
        <input type="date"
               id="data_nascita"
               name="data_nascita"
               class="form-control"
               data-mdb-inline="true"

        />
        <br/>
        <!--label for="email">Email Address</label-->
        <input type="text"
               id="email"
               name="email"
               class="form-control"
               placeholder="Email"
        />
        <br/>
        <!--<label for="password1">Password</label>-->
        <input type="password"
               id="password1"
               name="password1"
               class="form-control"
               placeholder="Password"
        />
        <!--<label for="password2">Password Again</label>-->
        <br/>
        <input type="password"
               id="password2"
               name="password2"
               class="form-control"
               placeholder="Password"
        />
        <br/>
        <div align="center">
             <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>

    </div>
</form>
{% endblock %}